{{- with secret "/" "dev" "SECRET_KEY" }}
SECRET_KEY={{ .Value }}
{{- end }}
{{- with secret "/" "dev" "API_KEY" }}
API_KEY={{ .Value }}
{{- end }}
{{- with secret "/" "dev" "DB_PASSWORD" }}
DB_PASSWORD={{ .Value }}
{{- end }}
